  --tx_slate-50: 248 250 252;
  --tx_slate-100: 241 245 249;
  --tx_slate-200: 226 232 240;
  --tx_slate-300: 203 213 225;
  --tx_slate-400: 148 163 184;
  --tx_slate-500: 100 116 139;
  --tx_slate-600: 71 85 105;
  --tx_slate-700: 51 65 85;
  --tx_slate-800: 30 41 59;
  --tx_slate-900: 15 23 42;
  --tx_slate-950: 2 6 23;
  --tx_gray-50: 249 250 251;
  --tx_gray-100: 243 244 246;
  --tx_gray-200: 229 231 235;
  --tx_gray-300: 209 213 219;
  --tx_gray-400: 156 163 175;
  --tx_gray-500: 107 114 128;
  --tx_gray-600: 75 85 99;
  --tx_gray-700: 55 65 81;
  --tx_gray-800: 31 41 55;
  --tx_gray-900: 17 24 39;
  --tx_gray-950: 3 7 18;
  --tx_zinc-50: 250 250 250;
  --tx_zinc-100: 244 244 245;
  --tx_zinc-200: 228 228 231;
  --tx_zinc-300: 212 212 216;
  --tx_zinc-400: 161 161 170;
  --tx_zinc-500: 113 113 122;
  --tx_zinc-600: 82 82 91;
  --tx_zinc-700: 63 63 70;
  --tx_zinc-800: 39 39 42;
  --tx_zinc-900: 24 24 27;
  --tx_zinc-950: 9 9 11;
  --tx_neutral-50: 250 250 250;
  --tx_neutral-100: 245 245 245;
  --tx_neutral-200: 229 229 229;
  --tx_neutral-300: 212 212 212;
  --tx_neutral-400: 163 163 163;
  --tx_neutral-500: 115 115 115;
  --tx_neutral-600: 82 82 82;
  --tx_neutral-700: 64 64 64;
  --tx_neutral-800: 38 38 38;
  --tx_neutral-900: 23 23 23;
  --tx_neutral-950: 10 10 10;
  --tx_stone-50: 250 250 249;
  --tx_stone-100: 245 245 244;
  --tx_stone-200: 231 229 228;
  --tx_stone-300: 214 211 209;
  --tx_stone-400: 168 162 158;
  --tx_stone-500: 120 113 108;
  --tx_stone-600: 87 83 78;
  --tx_stone-700: 68 64 60;
  --tx_stone-800: 41 37 36;
  --tx_stone-900: 28 25 23;
  --tx_stone-950: 12 10 9;
  --tx_red-50: 254 242 242;
  --tx_red-100: 254 226 226;
  --tx_red-200: 254 202 202;
  --tx_red-300: 252 165 165;
  --tx_red-400: 248 113 113;
  --tx_red-500: 239 68 68;
  --tx_red-600: 220 38 38;
  --tx_red-700: 185 28 28;
  --tx_red-800: 153 27 27;
  --tx_red-900: 127 29 29;
  --tx_red-950: 69 10 10;
  --tx_orange-50: 255 247 237;
  --tx_orange-100: 255 237 213;
  --tx_orange-200: 254 215 170;
  --tx_orange-300: 253 186 116;
  --tx_orange-400: 251 146 60;
  --tx_orange-500: 249 115 22;
  --tx_orange-600: 234 88 12;
  --tx_orange-700: 194 65 12;
  --tx_orange-800: 154 52 18;
  --tx_orange-900: 124 45 18;
  --tx_orange-950: 67 20 7;
  --tx_amber-50: 255 251 235;
  --tx_amber-100: 254 243 199;
  --tx_amber-200: 253 230 138;
  --tx_amber-300: 252 211 77;
  --tx_amber-400: 251 191 36;
  --tx_amber-500: 245 158 11;
  --tx_amber-600: 217 119 6;
  --tx_amber-700: 180 83 9;
  --tx_amber-800: 146 64 14;
  --tx_amber-900: 120 53 15;
  --tx_amber-950: 69 26 3;
  --tx_yellow-50: 254 252 232;
  --tx_yellow-100: 254 249 195;
  --tx_yellow-200: 254 240 138;
  --tx_yellow-300: 253 224 71;
  --tx_yellow-400: 250 204 21;
  --tx_yellow-500: 234 179 8;
  --tx_yellow-600: 202 138 4;
  --tx_yellow-700: 161 98 7;
  --tx_yellow-800: 133 77 14;
  --tx_yellow-900: 113 63 18;
  --tx_yellow-950: 66 32 6;
  --tx_lime-50: 247 254 231;
  --tx_lime-100: 236 252 203;
  --tx_lime-200: 217 249 157;
  --tx_lime-300: 190 242 100;
  --tx_lime-400: 163 230 53;
  --tx_lime-500: 132 204 22;
  --tx_lime-600: 101 163 13;
  --tx_lime-700: 77 124 15;
  --tx_lime-800: 63 98 18;
  --tx_lime-900: 54 83 20;
  --tx_lime-950: 26 46 5;
  --tx_green-50: 240 253 244;
  --tx_green-100: 220 252 231;
  --tx_green-200: 187 247 208;
  --tx_green-300: 134 239 172;
  --tx_green-400: 74 222 128;
  --tx_green-500: 34 197 94;
  --tx_green-600: 22 163 74;
  --tx_green-700: 21 128 61;
  --tx_green-800: 22 101 52;
  --tx_green-900: 20 83 45;
  --tx_green-950: 5 46 22;
  --tx_emerald-50: 236 253 245;
  --tx_emerald-100: 209 250 229;
  --tx_emerald-200: 167 243 208;
  --tx_emerald-300: 110 231 183;
  --tx_emerald-400: 52 211 153;
  --tx_emerald-500: 16 185 129;
  --tx_emerald-600: 5 150 105;
  --tx_emerald-700: 4 120 87;
  --tx_emerald-800: 6 95 70;
  --tx_emerald-900: 6 78 59;
  --tx_emerald-950: 2 44 34;
  --tx_teal-50: 240 253 250;
  --tx_teal-100: 204 251 241;
  --tx_teal-200: 153 246 228;
  --tx_teal-300: 94 234 212;
  --tx_teal-400: 45 212 191;
  --tx_teal-500: 20 184 166;
  --tx_teal-600: 13 148 136;
  --tx_teal-700: 15 118 110;
  --tx_teal-800: 17 94 89;
  --tx_teal-900: 19 78 74;
  --tx_teal-950: 4 47 46;
  --tx_cyan-50: 236 254 255;
  --tx_cyan-100: 207 250 254;
  --tx_cyan-200: 165 243 252;
  --tx_cyan-300: 103 232 249;
  --tx_cyan-400: 34 211 238;
  --tx_cyan-500: 6 182 212;
  --tx_cyan-600: 8 145 178;
  --tx_cyan-700: 14 116 144;
  --tx_cyan-800: 21 94 117;
  --tx_cyan-900: 22 78 99;
  --tx_cyan-950: 8 51 68;
  --tx_sky-50: 240 249 255;
  --tx_sky-100: 224 242 254;
  --tx_sky-200: 186 230 253;
  --tx_sky-300: 125 211 252;
  --tx_sky-400: 56 189 248;
  --tx_sky-500: 14 165 233;
  --tx_sky-600: 2 132 199;
  --tx_sky-700: 3 105 161;
  --tx_sky-800: 7 89 133;
  --tx_sky-900: 12 74 110;
  --tx_sky-950: 8 47 73;
  --tx_blue-50: 239 246 255;
  --tx_blue-100: 219 234 254;
  --tx_blue-200: 191 219 254;
  --tx_blue-300: 147 197 253;
  --tx_blue-400: 96 165 250;
  --tx_blue-500: 59 130 246;
  --tx_blue-600: 37 99 235;
  --tx_blue-700: 29 78 216;
  --tx_blue-800: 30 64 175;
  --tx_blue-900: 30 58 138;
  --tx_blue-950: 23 37 84;
  --tx_indigo-50: 238 242 255;
  --tx_indigo-100: 224 231 255;
  --tx_indigo-200: 199 210 254;
  --tx_indigo-300: 165 180 252;
  --tx_indigo-400: 129 140 248;
  --tx_indigo-500: 99 102 241;
  --tx_indigo-600: 79 70 229;
  --tx_indigo-700: 67 56 202;
  --tx_indigo-800: 55 48 163;
  --tx_indigo-900: 49 46 129;
  --tx_indigo-950: 30 27 75;
  --tx_violet-50: 245 243 255;
  --tx_violet-100: 237 233 254;
  --tx_violet-200: 221 214 254;
  --tx_violet-300: 196 181 253;
  --tx_violet-400: 167 139 250;
  --tx_violet-500: 139 92 246;
  --tx_violet-600: 124 58 237;
  --tx_violet-700: 109 40 217;
  --tx_violet-800: 91 33 182;
  --tx_violet-900: 76 29 149;
  --tx_violet-950: 46 16 101;
  --tx_purple-50: 250 245 255;
  --tx_purple-100: 243 232 255;
  --tx_purple-200: 233 213 255;
  --tx_purple-300: 216 180 254;
  --tx_purple-400: 192 132 252;
  --tx_purple-500: 168 85 247;
  --tx_purple-600: 147 51 234;
  --tx_purple-700: 126 34 206;
  --tx_purple-800: 107 33 168;
  --tx_purple-900: 88 28 135;
  --tx_purple-950: 59 7 100;
  --tx_fuchsia-50: 253 244 255;
  --tx_fuchsia-100: 250 232 255;
  --tx_fuchsia-200: 245 208 254;
  --tx_fuchsia-300: 240 171 252;
  --tx_fuchsia-400: 232 121 249;
  --tx_fuchsia-500: 217 70 239;
  --tx_fuchsia-600: 192 38 211;
  --tx_fuchsia-700: 162 28 175;
  --tx_fuchsia-800: 134 25 143;
  --tx_fuchsia-900: 112 26 117;
  --tx_fuchsia-950: 74 4 78;
  --tx_pink-50: 253 242 248;
  --tx_pink-100: 252 231 243;
  --tx_pink-200: 251 207 232;
  --tx_pink-300: 249 168 212;
  --tx_pink-400: 244 114 182;
  --tx_pink-500: 236 72 153;
  --tx_pink-600: 219 39 119;
  --tx_pink-700: 190 24 93;
  --tx_pink-800: 157 23 77;
  --tx_pink-900: 131 24 67;
  --tx_pink-950: 80 7 36;
  --tx_rose-50: 255 241 242;
  --tx_rose-100: 255 228 230;
  --tx_rose-200: 254 205 211;
  --tx_rose-300: 253 164 175;
  --tx_rose-400: 251 113 133;
  --tx_rose-500: 244 63 94;
  --tx_rose-600: 225 29 72;
  --tx_rose-700: 190 18 60;
  --tx_rose-800: 159 18 57;
  --tx_rose-900: 136 19 55;
  --tx_rose-950: 76 5 25;
  --tx_primary-100: 249 255 242;
  --tx_primary-200: 232 255 203;
  --tx_primary-300: 219 254 164;
  --tx_primary-400: 209 251 123;
  --tx_primary-500: 202 245 83;
  --tx_primary-600: 162 193 43;
  --tx_primary-700: 124 142 23;
  --tx_primary-800: 83 90 13;
  --tx_primary-900: 37 38 5;
  --tx_accent-100: 249 242 255;
  --tx_accent-200: 222 196 255;
  --tx_accent-300: 190 150 254;
  --tx_accent-400: 151 103 251;
  --tx_accent-500: 107 56 245;
  --tx_accent-600: 58 22 193;
  --tx_accent-700: 28 8 142;
  --tx_accent-800: 11 3 90;
  --tx_accent-900: 2 1 38;
